#content {
  background-color: #fafafa;
}

#content-main {
  max-width: 600px;
  margin: auto;
    margin-top: 10%;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.module {
  border: none;
}

.form-title,
.form-price,
.form-additional_info,
.form-photo_products,
.form-category,
.field-quantity {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-title label,
.form-price label,
.form-additional_info label,
.form-photo_products label,
.form-category label,
.field-quantity label {
  font-weight: bold;
  margin-top: -50px;
}

.form-title input,
.form-price input,
.field-quantity input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-additional_info textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

.form-photo_products input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-category select {
  height: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-row {
  display: flex;
  justify-content: flex-end;
}

.submit-row input {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-row input:hover {
  background-color: #0056b3;
}

/*.required {*/
/*  margin-bottom: 100px;*/
/*}*/

@media (max-width: 1200px) {
  #content-main {
    margin-top: 130px;
  }
}

@media (max-width: 1029px) {
  #content-main {
    margin-top: 100px;
  }
}

/* Медиа-запрос для экранов шириной меньше 600px */
@media (max-width: 599px) {
  #content-main {
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .form-title,
  .form-price,
  .form-additional_info,
  .form-photo_products,
  .form-category,
  .field-quantity {
    flex-direction: column;
  }

  .flex-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-title label,
  .form-price label,
  .form-photo_products label,
  .form-category label,
  .field-quantity label {
    margin-bottom: 3px;
  }
}

@media (max-width: 400px) {
 #content-main {
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 12px;
  }
}