{% extends 'base/layout.html' %}

{% block content %}
{% load static %}

{% block css %}
    <link rel="shortcut icon" href="{%  static 'users/images/lk.png' %}">
    <link rel="stylesheet" href="{% static 'users/css/lk.css' %}">
{% endblock %}

<div class="prvt">
    <h2>Ваши данные</h2><br>
    <h3><b>Имя:</b> <u>{{ request.user.last_name }}</u></h3><br>
    <h3><b>Фамилия:</b> <u>{{ request.user.first_name }}</u></h3><br>
    <h3><b>Номер телефона:</b> <u>{{ request.user.username }}</u></h3><br>
    <h3><b>Почта:</b> <u>{{ request.user.email }}</u></h3><br>
<!--    <h3><b>Товаров в корзине:</b></h3><br><br>-->
<!--    <button class="glow-on-hover" type="button">Редактировать данные</button>-->
    <a href="{% url 'login' %}">
        <button onclick="" class="glow-on-hover" type="button">Войти в другой аккаунт</button>
    </a>

</div>

{% endblock %}

{% block title %}
    Личный кабинет
{% endblock %}