.acc, .acc2{
    margin: 15% 0 0 15%;
}

.prvt h3, .prvt h2 {
    font-family: Comic Sans MS, Comic Sans, cursive;
  color: white;
  transition: transform .6s ease;
  font-size: 40px;
}

.orders p {
    font-size: 20px;
    color: black;
}

.orders .title, .prvt .title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

.order .get {
    font-weight: bold;
    font-size: 20px;
}

.order {
    width: 800px;
    height: auto;
    background-color: #7395AE;
    border-radius: 15px;
    margin-top: 40px;
    padding: 10px;
}

.shapka button {
    /*position: static;*/
    font-size: 180%;
    width: 30%;
    margin-left: 50px;
    color: white;
    background-color: #7395AE;
    /*margin: 0 auto;*/
}

.btn-acc {
    color: white;
    background-color: #7395AE;
    font-size: 120%;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media only screen and (max-width: 1600px){
  .acc, .acc2 {
    margin-top: 20%;
    color: black;
  }

    .shapka button {
        font-size: 150%;
    }

}

@media only screen and (max-width: 1250px){
  .acc, acc2 {
    margin-top: 25%;
  }
    .shapka button {
        /*font-size: 130%;*/
        width: 40%;
    }

}

@media only screen and (max-width: 1000px){
  .acc, .acc2 {
    margin-top: 30%;
  }
    .acc2 {
        margin-left: 5px;
    }
  .prvt h2, .prvt h3 {
    font-size: 40px;
  }
  .shapka button {
      margin-left: 0;
      width: 45%;
  }
  .order {
      width: 90%;
  }
}

@media only screen and (max-width: 790px){
  .acc {
    margin-top: 55%;
  }
    .acc2 {
        margin-top: 40%;
    }
  .prvt h2, .prvt h3 {
    font-size: 30px;
  }
  .shapka button {
      font-size: 130%;
      margin-top: -20%;
  }
  .prvt h2{
        margin-top: 10%;
    }
  .prvt button {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 640px){
    .shapka button {
        width: 48%;
        font-size: 105%;
    }
    .order {
        width: 100%;
    }
    .shapka {
        /*margin-bottom: 10px;*/
        margin-left: -40px;
        /*position: relative;*/
        /*margin-top: 10%;*/
        /*margin-left: auto;*/
    }
}

@media only screen and (max-width: 500px){
  .acc {
    margin: 55% 0 0 0;
     /*text-align: center*/
  }
    .acc2 {
        margin: 55% 0 0 0;
        margin-bottom: 100px;
    }
    .prvt h2{
        margin-top: 20%;
    }

  .prvt h2, .prvt h3 {
      font-size: 25px;
    display: inline-block;
  }
  .prvt u {
        font-size: 25px;
    }
    .shapka button {
        margin-top: -10%;
        font-size: 90%;
    }
    .shapka {
        margin-left: 0;
    }
    /*.prvt button {*/
    /*    margin-top: 20px;*/
    /*}*/
}