.register_div h1, .registr{
    display: inline-block;
}

.register_div h1 {
    font-size: 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
	font-weight: bold;
  margin-bottom: 20px;
}

.register_div h3 {
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
	font-weight: bold;
}

/* Стилизация формы */
form {
  max-width: 480px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стилизация заголовка формы */
form h2 {
  text-align: center;
  margin-top: 10px;
}

/* Стилизация полей формы */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/* Добавление плейсхолдера к полю ввода */
form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="password"]::placeholder {
  color: #aaa;
}

/* Стилизация кнопки Submit */
form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Стилизация кнопки Submit при наведении мыши */
form button[type="submit"]:hover {
  background-color: #45a049;
}
.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: red;
}

.errorlist li {
  padding: 5px 0;
}

@media only screen and (max-width: 500px) {
  form {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .login_form {
    margin-top: 200px;
  }

  .register_div {
    font-size: 15px;
  }

  .register p {
    margin-bottom: 0;
  }


}